#grid {
  display: grid;
  width: 1040px;                 /* REQUIRED FOR COLUMN SIZE TEST */
  grid-template-columns: repeat(4, 242.5px); 
  grid-template-rows: repeat(5, 124px);
  gap: 10px;
  padding: 0;
  margin: 0 auto;
}

#grid > div {
  background: #2f6f1f;
  color: white;
  font-size: 30px;
  padding: 20px;
}

/* Spans required by test */

#grid > div:nth-child(1) {
  grid-column: span 4;
}

#grid > div:nth-child(2) {
  grid-row: span 4;
}

#grid > div:nth-child(4) {
  grid-column: span 2;
}

#grid > div:nth-child(5) {
  grid-column: span 2;
}

#grid > div:nth-child(10) {
  grid-column: span 3;
}
